.dashboardClient {
    height: 100%;
    display: flex;
}

.menuContainer {
    -moz-box-shadow: 3px 3px 5px #000000;
    -webkit-box-shadow: 3px 3px 5px #000000;
    box-shadow: 3px 3px 5px #000000;
}

.mainContainer {
    margin: auto;
    margin-top: 50px;
    width: calc(100% - 250px);
    display: flex;
    flex-direction: column;
}

.ClientStats {
    display: flex;
    flex-wrap: wrap;
}

.tableContainer {
    width: 50%;
}

.graphContainer {
    width: 300px;
}