body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#App {
  
  text-align: center;
}


#bodyContainer {
  
  position: relative;
  left: 293px;
  
}

#bodyPage {
  display: flex;
  height: 100%;
  

  background-color: rgb(224, 224, 224);

}



#upBarContainer {
  background: rgb(63, 132, 197);
  height: 150px;
  width: auto;
  

}

#navbarContainer {

  background: rgb(170, 177, 207);
  height: 960px;
}

#tableContainer {
   background: rgb(190, 186, 186);
  border-radius: 24px;
  margin: 5rem;
  width: 40%;
  height: 800px;
  border-radius: 4px;
 
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);

}

#tableHead {
  background: rgb(164, 160, 189);
}

#tableList {
  background: rgb(200, 205, 230);
}

#table {
  background: rgb(190, 186, 186);
  border-radius: 8px;

}

#tableHisto {
  background: rgb(190, 186, 186);
  border-radius: 8px;
  width: 30%;
  margin-top: 5rem;
  margin-bottom: 5rem;

}

#histoComponent
{
  background: rgb(200, 205, 230);
  border-radius: 8px;
  padding: 1rem;
  font-size: larger;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
}

#bouttonPDF {
  margin-top: 80%;
}

#toolBar {
  background: rgb(149, 198, 243);
}