html{
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#bodyContainer
{
  background: rgb(243, 243, 243);
}

#container
{
  background: rgb(63, 132, 197);
  height: 150px;
  justify-content: center;
}

#navbarContainer
{
  background: rgb(74, 195, 204);
}

#tableContainer
{
  background: rgb(173, 173, 173);
  border-radius: 24px;

}

#tableHead
{
  background: rgb(164, 160, 189);
}

#tableList
{
  background: rgb(200, 205, 230);
}

#table
{
  background: rgb(173, 173, 173);
  border-radius: 24px;
}

#bouttonPDF
{
  margin-top: 80%;
}

#toolBar
{
  background: rgb(149, 198, 243);
}
